@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --img-gap: 0.25rem;
  --button-width: 3rem;
  --items-per-screen: 4;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #424247;
}

body::-webkit-scrollbar-track:active {
  background: #2f2f32;
}

body::-webkit-scrollbar-thumb {
  background: #09090a;
  border-radius: 0.1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6f0000;
}

/*to adjust*/

.children-container {
  --slider-index: 0;
}

.children-container > * {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 0.5rem;
}

#categories {
  aspect-ratio: none;
  width: 30rem;
}

.button {
  width: var(--button-width);
}

.slider {
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  height: 0;
}

.slider-container:hover > [data-button="next"],
.slider-container:hover > [data-button="previous"] {
  transform: translateX(0%);
}

.slider-container:hover > [data-button="previous"]:hover {
  transform: translateX(calc(var(--button-width) * 0.075)) scale(1.15);
}

.slider-container:hover > [data-button="next"]:hover {
  transform: translateX(calc(var(--button-width) * -0.075)) scale(1.15);
}

/* .progress-item {
  min-width: 1rem;
  height: 0.5rem;
  border-radius: 25%;
  background-color: #7b7b83;
}

.progress-item.active {
  background-color: #cccccf;
}

.progress-bar-inner {
  width: 0;
  position: absolute;
} */
