@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #424247;
}

body::-webkit-scrollbar-track:active {
  background: #2f2f32;
}

body::-webkit-scrollbar-thumb {
  background: #09090a;
  border-radius: 0.1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6f0000;
}

.header {
  transition: all 0.4s ease-out;
}

.carousel-list-item {
  background-size: cover;
  background-position: center;
}

/*.slide[data-active = 'active'] {*/
/*  opacity: 1;*/
/*}*/

/*.slider_button {*/
/*  position: absolute;*/
/*  z-index: 2;*/
/*  border: none;*/
/*  font-size: 4rem;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*  cursor: pointer;*/
/*  border-radius: 0.25rem;*/
/*  padding: 0 0.5rem;*/
/*  background: rgba(255, 255, 255, 0.1) none;*/
/*}*/
